<!DOCTYPE html>
<html lang="en-US" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf8">
    <title>Coffee Corporation</title>
  </head>
  <body>
    <h1>100% Secure Coffee Vendor</h1>
    <h2>Did you know we're a subsidiary of Maldiant?</h2>
    <ul id="menu">
      <li th:each="c, iter :${coffee}">
        <p th:text="${iter.index} + '. ' + ${c}"/> 
      </li>
    </ul>
    <h2>ORDER COFFEE BELOW FOR MAXIMAL ENJOYMENT</h2>
    <form action="#" th:action="@{/order}" th:object="${order}" method="post">
      <label for="cid">Coffee ID:</label>
      <input name="cid" type="text" th:field="*{id}">
      <label for="qty">Quantity:</label>
      <input name="qty" type="number" th:field="*{qty}">
      <label for="comments">Comments: </label>
      <input name="comments" type="text" th:field="*{comments}">
      <input type="submit" value="Submit">
    </form>
    <footer>"Coffee Corporation is a great ethical company with close to zero market manipulation" --real valued customers</footer>
  </body>
</html>